# ESB ERP
ESB_BASE_URL=erp_base_url

# Credentials ESB ERP
IMVB_USERNAME=your_imvb_username
IMVB_PASSWORD=your_imvb_password
BURGAS_USERNAME=your_burgas_username
BURGAS_PASSWORD=your_burgas_password

# Logger (default: debug)
LOG_LEVEL=debug
NODE_ENV=development
SHOW_BROWSER=true
